@model IEnumerable<BusinessObj.Models.Application>
@using BusinessObj.Models
@using System.Text.Json
@{
    ViewData["Title"] = "Your applications";
    PagerModel pager = ViewBag.Pager;
    User authenticatedUser = null;
    string loginInfo = Context.Session.GetString("LOGININFO");
    if (loginInfo != null)
    {
        authenticatedUser = JsonSerializer.Deserialize<User>(loginInfo);
    }
}

<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list single-page-breadcome">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading">
                                <form asp-action="Index" role="search" class="sr-input-func">
                                    <input class="form-control" type="text" name="SearchText" value="@ViewBag.SearchText" placeholder="Search Key..." />
                                    <a type="submit">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @if (TempData["AlertMessage"] != null)
                {
                    <div class="alert alert-success alert-success-style1 alert-success-stylenone">
                        <button type="button" class="close sucess-op" data-dismiss="alert" aria-label="Close">
                            <span class="icon-sc-cl" aria-hidden="true">×</span>
                        </button>
                        <i class="fa fa-check admin-check-sucess admin-check-pro-none" aria-hidden="true"></i>
                        <p class="message-alert-none"><strong>Success!</strong> @TempData["AlertMessage"]</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--Table-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="product-status-wrap drp-lst">
        <h4>Đơn từ của bạn</h4>
        <div class="add-product">
            <a asp-action="Create">Tạo đơn mới</a>
        </div>
        <div class="asset-inner">
            <table>
                <tbody>
                    <tr>
                        <th>
                            Đã tạo vào lúc
                        </th>
                        <th>
                            Tên loại đơn
                        </th>
                        <th>
                            Trạng thái
                        </th>
                    </tr>
                    @foreach (var item in Model) if (item.AccountId == authenticatedUser.AccountId && item.ApplicationStatus != "Delete")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationTypeID)
                                </td>
                                <td>
                                    @if (item.ApplicationStatus == "Rejected")
                                    {
                                        <button class="ds-setting">
                                            @Html.DisplayFor(modelItem => item.ApplicationStatus)
                                        </button>
                                    }
                                    @if (item.ApplicationStatus == "Approved")
                                    {
                                        <button class="pd-setting">
                                            @Html.DisplayFor(modelItem => item.ApplicationStatus)
                                        </button>
                                    }
                                    @if (item.ApplicationStatus == "Pending")
                                    {
                                        <button class="ps-setting">
                                            @Html.DisplayFor(modelItem => item.ApplicationStatus)
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                </tbody>
            </table>

            <div class="fixed-table-pagination">
                <div class="pull-left pagination-detail">
                    <partial name="_bottomBar" model="@pager" />
                </div>
                <div class="pull-right pagination-detail">
                    <partial name="_topBar" model="@pager" />
                </div>
            </div>
        </div>
    </div>
</div>