@model IEnumerable<BusinessObj.Models.User>

@{
    ViewData["Title"] = "Admin | Account List";

    //FAM.Models.PagerModel pager = ViewBag.Pager;
    PagerModel pager = ViewBag.Pager;
}


<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list single-page-breadcome">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading">
                                <form asp-action="Index" asp-controller="User" role="search" class="sr-input-func">
                                    <input class="form-control" type="text" name="SearchText" value="@ViewBag.SearchText" placeholder="Search Key..." />
                                    <a type="submit">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="breadcome-menu">
                                <li>
                                    <a asp-controller="Home" asp-action="Index">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li>
                                    <span class="bread-blod">List Account</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>Account List</h4>
                        <div class="add-product">
                            <a asp-action="Create" asp-controller="User">Add Account</a>
                        </div>
                        <div class="asset-inner">
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AccountName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Password)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ower)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Role)
                                    </th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Password)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ower)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Role.RoleName)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-controller="User" asp-route-id="@item.AccountId" class="btn btn-custon-rounded-three btn-primary">Edit</a>
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-controller="User" asp-route-id="@item.AccountId" class="btn btn-custon-rounded-three btn-success">Detail</a>
                                        </td>
                                        @if (item.Status == "ON")
                                        {
                                            <td>
                                                <a asp-action="Delete" asp-controller="User" asp-route-id="@item.AccountId" class="btn btn-custon-rounded-three btn-danger">UnActive</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a asp-action="Active" asp-controller="User" asp-route-id="@item.AccountId" class="btn btn-custon-rounded-three btn-danger">Active</a>
                                            </td>
                                        }
                                        <td>
                                            <a asp-action="Change" asp-controller="User" asp-route-id="@item.AccountId" class="btn btn-custon-rounded-three btn-warning">Change</a>
                                        </td>
                                    </tr>
                                }
                            </table>

                        </div>
                        <div class="fixed-table-pagination">
                            <div class="pull-left pagination-detail">
                                <partial name="_bottomBar" model="@pager" />
                            </div>
                            <div class="pull-right pagination-detail">
                                <partial name="_topBar" model="@pager" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>