@model IEnumerable<BusinessObj.Models.Application>

@{
    ViewData["Title"] = "Index";

    PagerModel pager = ViewBag.Pager;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="col-4 p-0 justify-content-end mt-1">
    <form asp-action="Index">
        <span class="btn-group">
            <input class="form-control" type="text" name="SearchText" value="@ViewBag.SearchText" placeholder="Search Key" />
            <input class="p-1 ml-2 btn btn-sm btn-danger" style="border-radius: 10px;" type="submit" value="Search" />
        </span>
    </form>
</div>

<!--topbar-->
<div class="row">
    <div class="col-12">
        <partial name="_topBar" model="@pager"/>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplicationID">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>

<!--bottombar-->
<div class="row">
    <div class="col-12">
        <partial name="_bottomBar" model="@pager"/>
    </div>
</div>